@import 'palette.scss';

body {
  background-color :white;
  font-family: sans-serif;
}

h1 {
  color: $green;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  &:link, &:visited {
    color: $sapphire;
  }
  &:hover {
    color: $grey;
  }
}

#h-divider {
  width: 80%;
  border-bottom: 1px solid #ccc;
}