#nav {
  a, strong {
    margin-right: 5px;
  }
  a:link, a:visited {
    text-decoration: none;
    color: #990099;

    &:hover {
      color: #660066;
    }
  }

  strong {
    color: #660066;
  }

  font-family: impact;
  font-size: 25px;
}